name: CI/CD Deploy to EC2 with Docker

on:
  push:
    branches:
      - main

jobs:
  test-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout code
      - name: Checkout code
        uses: actions/checkout@v3

      # Step 2: Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      # Step 3: Install dependencies
      - name: Install dependencies
        run: npm install

      # Step 4: Run tests
      - name: Run tests
        env:
          DB_URL: ${{ secrets.DB_URL }}
          ADMIN_PASSWORD: ${{ secrets.ADMIN_PASSWORD }}
          DB_PORT: ${{ secrets.DB_PORT }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
        run: npm test

      # Step 5: Deploy to EC2 only if tests pass
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Deploy on EC2
        env:
          ADMIN_PASSWORD: ${{ secrets.ADMIN_PASSWORD }}
          DB_PORT: ${{ secrets.DB_PORT }}
          DB_URL: ${{ secrets.DB_URL }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          PORT: ${{ secrets.PORT }}
          TOKEN: ${{ secrets.TOKEN }}
        run: |
          ssh -o StrictHostKeyChecking=no ec2-user@3.239.93.96 "
            # Install Git and Docker
            if ! command -v git &> /dev/null; then
              sudo yum update -y
              sudo yum install git -y
            fi
            if ! command -v docker &> /dev/null; then
              sudo amazon-linux-extras install docker -y
              sudo service docker start
              sudo usermod -a -G docker ec2-user
            fi

            # Create app folder
            mkdir -p /home/ec2-user/myapp
            cd /home/ec2-user/myapp

            # Clone repo if empty, else pull latest
            if [ -z \"\$(ls -A /home/ec2-user/myapp)\" ]; then
              git clone https://\${TOKEN}@github.com/davo999666/backend.git .
            else
              git reset --hard
              git pull
            fi

            # Build Docker image
            docker build \
              --build-arg ADMIN_PASSWORD=\$ADMIN_PASSWORD \
              --build-arg DB_PORT=\$DB_PORT \
              --build-arg DB_URL=\$DB_URL \
              --build-arg EMAIL_PASS=\$EMAIL_PASS \
              --build-arg EMAIL_USER=\$EMAIL_USER \
              --build-arg PORT=\$PORT \
              -t myapp:latest .

            # Stop old container if running
            docker stop myapp || true
            docker rm myapp || true

            # Run new container
            docker run -d --name myapp -p \$PORT:\$PORT myapp:latest
          "
